*{
    padding: 0px;
    margin: 0px;
    color: white;
    
    
}

div{
    height: 60px;
    background-color:#0f1111;
}
#logo{
    color: #f08804;
}
a{
   font-size: 25px;
   text-decoration: none;
   margin-right: 130px;
}

.contentBox{
    height: 100px;
    width: 100px;
    display: inline-block;
    
    
}
#content{
    background-color: white;
    
}

footer{
    background-color: #0f1111;
    text-align: center;
}